.container {
    display: grid;
    border: 1px solid black;
    grid-template-rows: repeat(9, 20%);
    grid-template-columns: repeat(6, 1fr);
        grid-template-areas:"a a a a a a"
                            "a a a a a a"
                            "b c c c d d"
                            "b c c c d d"
                            "b c c c d d"
                            "b c c c d d"
                            "b c c c d d"
                            "b c c c d d"
                            "e e e e e e";
}

.container *{
    border: 1px solid black;
    background-color: lightgray;
}
.Block-1{grid-area: a}
.Block-2{grid-area: b}
.Block-3{grid-area: c}
.Block-4{grid-area: d}
.Block-5{grid-area: e}
.container .Block-1 img{
    width: 100%;
    height: 50%;
}


a{
        text-decoration: none;
}
.menu li{
    display: inline-block;
    width: 100px;
    padding: 5px 10px;
    position: relative;
}
.submenu{
    display: none;
}
ul li.nested:hover > .submenu{
    display: block;
    position: absolute;
}

[class^="col-"]{
    float: left;
}
.row{
    clear: both;
}
.col-sm-1{width: 10%}
.col-sm-2{width: 20%}
.col-sm-3{width: 30%}
.col-sm-4{width: 40%}
.col-sm-5{width: 50%}
.col-sm-6{width: 60%}
.col-sm-7{width: 70%}
.col-sm-8{width: 80%}
.col-sm-9{width: 90%}
.col-sm-10{width: 100%}

.col-md-1{width: 10%}
.col-md-2{width: 20%}
.col-md-3{width: 30%}
.col-md-4{width: 40%}
.col-md-5{width: 50%}
.col-md-6{width: 60%}
.col-md-7{width: 70%}
.col-md-8{width: 80%}
.col-md-9{width: 90%}
.col-md-10{width: 100%}

.col-1{width: 10%}
.col-2{width: 20%}
.col-3{width: 30%}
.col-4{width: 40%}
.col-5{width: 50%}
.col-6{width: 60%}
.col-7{width: 70%}
.col-8{width: 80%}
.col-9{width: 90%}
.col-10{width: 100%}

@media only screen and (min-width: 800px){
    .col-md-1{width: 10%}
    .col-md-2{width: 20%}
    .col-md-3{width: 30%}
    .col-md-4{width: 40%}
    .col-md-5{width: 50%}
    .col-md-6{width: 60%}
    .col-md-7{width: 70%}
    .col-md-8{width: 80%}
    .col-md-9{width: 90%}
    .col-md-10{width: 100%}
}
@media only screen and (min-width: 600px) {
    .col-sm-1{width: 10%}
    .col-sm-2{width: 20%}
    .col-sm-3{width: 30%}
    .col-sm-4{width: 40%}
    .col-sm-5{width: 50%}
    .col-sm-6{width: 60%}
    .col-sm-7{width: 70%}
    .col-sm-8{width: 80%}
    .col-sm-9{width: 90%}
    .col-sm-10{width: 100%}
}
.responsive-image{
    width: 60px;
    height: 60px;
    left: auto;
}