.container{
    border: 1px solid gray;
    display: grid;
    grid-template-rows: repeat(10, 40%);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "a a b b b c"
                         "a a b b b c"
                         "a a b b b c"
                         "a a d d d c"
                         "e e e e e c"
                         "e e e e e c"
                         "s s s f f c"
                         "s s s f f l"
                         "s s s f f l"
                         "s s s w w w"
                         "s s s w w w";
}
.container *{
    border:1px dashed green;
    border-radius: 10px;
    background-color: lightgreen;
}
.Block-1{grid-area: a}
.Block-2{grid-area: b}
.Block-3{grid-area: c}
.Block-4{grid-area: d}
.Block-5{grid-area: e}
.Block-6{grid-area: s}
.Block-7{grid-area: f}
.Block-8{grid-area: l}
.Block-9{grid-area: w}